html{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body{
    background-color: #FAFAF9;

}

section{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.firts-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.firts-content article{
    margin-left: 28px;
}

.firts-content .header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;  
    background-color: #F5C044;
    width: 48px;
    height: 48px;
    border-radius: 50px;
}

.text-content{
    margin-top: -7px;
}

.text-content h1{
    font-size: 2rem;
    font-weight: bold;
    color: #18181B;
}

.text-content p{
    margin-top: -20px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #52525A;
    text-wrap: wrap;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
}

.list p{
    margin-left: 10px;
    color: #52525A;
    font-size: 0.8rem;
}

/*TODO:segunda parte por hacer*/

.second-content{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.cards{
    background-color: #ffffff;
    border-radius: 15px;
    width: 450px;
    height: 220px;
}

.cards:first-child{
    margin-left: 150px;
}

.cards:nth-child(2){
    margin-top: 40px;
}

.title-card{
    display: flex;
    flex-direction: row;
}

.title-card img{
    width: 7.5rem;
    margin-left: 40px;
    margin-top: 30px;
}

.stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}


.stars > img{
    width: 2rem;
    margin-left: 8px;
}

.content-card{
    margin-left: 40px;
    margin-top: 20px;
    width: 300px;
}

.content-card span{
    font-weight: bold;
    color: #18181B;
    font-size: 1.1rem;
   
}

.content-card p{
   color: #52525A;
   font-size: 1.1rem;
   font-weight: 400;
   line-height: 1.8;
   margin-top: 5px;
}

@media  screen and (max-width: 640px){
    section{
        display: flex;
        flex-direction: column;
    }

    .firts-content{
        width: 500px;
    }

    .firts-content article{
        margin-left: -40px;
    }

    .second-content{
        margin-top: 40px;
    }
    
    .cards:first-child{
        margin-left: 70px;
    }

    .cards:nth-child(2){
        margin-right: 20px;
    }
}